.header {
  &__menu {
    position: relative;
  }

  &__dropdown {
    padding: 12px 0;
    width: 200px;
    z-index: 100;
    display: none;
    position: absolute;
    background-color: #333;
    top: 42px;
    border-radius: 4px;

    &::before {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-bottom: 12px solid #fff;
      top: -12px;
      left: 50%;
      transform: translateX(-50%);
    }

    &::after {
      position: absolute;
      content: "";
      width: 160px;
      height: 25px;
      top: -25px;
      background-color: transparent;
      left: 50%;
      transform: translateX(-50%);
    }

    & > div {
      cursor: pointer;
      font-size: 12px;
      color: #333;
      display: block;
      padding: 8px 20px;

      &:hover {
        color: #1890ff;
        background-color: #f1f1f1;
      }
    }

    & a {
      text-decoration: none;
      cursor: pointer;
      font-size: 12px;
      color: #fff;
      display: block;
      padding: 8px 20px;

      &:hover {
        background-color: #f1f1f1;
      }
    }
  }

  &__menu:hover &__dropdown {
    display: block;
  }
}
